#salesResults div,
#error {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

#error {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}